/* inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* space grotest font */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

@tailwind base;
@tailwind components;

::-webkit-scrollbar {
    width: 3px;
    position: absolute;
    border-radius: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: inherit; 
    border: none;
    border-radius: 0px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b4b4b4; 
    border-radius:0.5rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #929292; 
  }

  .oslash-tag-input-auto-suggestions::-webkit-scrollbar, ::-webkit-scrollbar {
    display: none;
  }

  .oslashSnippetEditor-scroll-bar::-webkit-scrollbar {
    display: block;
    width: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    background-color: rgb(255 255 255/1);  
    background-color: transparent;
  }

  .oslashSnippetEditor-scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: rgb(229 231 235/1);
  }

  .oslashSnippetEditor-scroll-bar::-webkit-scrollbar-thumb:hover {
    background-color: rgb(195, 195, 196);
  }

  .oslashSnippetEditor-scroll-bar::-webkit-scrollbar-track {
    margin: 0.125rem 0;
    --tw-bg-opacity: 1;
  }
@tailwind utilities;