/* inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* space grotest font */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

@tailwind base;
@tailwind components;

::-webkit-scrollbar {
    width: 3px;
    position: absolute;
    border-radius: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: inherit; 
    border: none;
    border-radius: 0px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b4b4b4; 
    border-radius:0.5rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #929292; 
  }

  .custom-scrollbars__content {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .custom-scrollbars__content::-webkit-scrollbar {
    display: none;
  }
@tailwind utilities;