---
import Layout from '../layouts/Layout.astro';
import MainPage from '../components/MainPage';

const pageTitle = 'Oslash'
---

<Layout title={pageTitle}>
	<div class="overflow-y-auto w-full bg-gray-50">
		<div class="flex h-full bg-white">
			<MainPage client:load/>
		</div>
	</div>
</Layout>