---
export interface Props {
	title: string;
}

const { title } = Astro.props;

import '/public/style/index.css'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="">
		<div class="flex h-screen bg-red-100">
			<div class="w-[56px] bg-gray-100">
				
			</div>
		  
			<div class="flex flex-1 flex-col min-w-0">
			  <header class="sticky top-0 flex-shrink-0 h-[48px] w-full border-b border-gray-200 bg-white">
				
			</header>
		  
			<div class="flex flex-1 h-full overflow-hidden">
				<div class="flex h-full w-[248px] items-center flex-shrink-0 justify-center border-r border-gray-200 bg-white">
				</div>
				<slot/>
			</div>
			</div>
		</div>
	</body>
</html>
